.header {
    width: 100%;
    height: 6vh;
    color: white;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(215, 15, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-2 {
    width: 100%;
    height: 5vh;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(223, 73, 135);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-header {
    width: 90%;
    height: 6vh;
    color: white;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(215, 15, 100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.header-icon {
    margin-left: 28px;
    font-size: 30px;
    margin-right: 10px;
}

.header-btn {
    margin-left: 22px;
    color: white;
    background-color: rgb(215, 15, 100);
    height: 42px;
    width: 140px;
    border: 1px solid white;
    border-radius: 6px;
}

.header-2-btn {
    margin-left: 22px;
    color: white;
    background: rgb(223, 73, 135);
    height: 32px;
    width: 140px;
    border: 1px solid white;
    border-radius: 6px;
}

.header-btn:hover {
    color: black;
    background-color: white;
}

.header-2-btn:hover {
    color: black;
    background-color: white;
}

.auth-header-left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    padding: 1%;
}

.auth-header-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    padding: 1%;
}

.auth-header-right-side>i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    cursor: pointer;
}

.auth-header-user-adress {
    font-weight: 500;
}
.auth-header-user-city {
    font-size: 16px;
}
.header-logout-btn {
    width: 50px;
    height: 30px;
    background-color:rgb(215, 15, 100);
    border: 1px solid rgb(215, 15, 100);
    color: white;
    border-radius: 4px;
    font-size: 21px;
    font-weight: 600;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
}
.header-logout-btn:hover{
    font-size: 22px;
}