.shop-card {
    height: 28vh;
    width: 18%;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin: 1.5%;
    text-decoration: none;
}
.shop-card-image{
    height: 74%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.shop-card-image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.shop-card-title{
    height: 5%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
}
.shop-card-category{
    height: 5%;
    width: 100%;
    font-size: 14px;
    color: rgb(65, 62, 62);
    padding: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shop-card-estimated-time-dc{
    height: 5%;
    width: 100%;
    font-size: 12px;
    color: rgb(65, 62, 62);
    padding: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}