.food-item-card {
    height: 28vh;
    width: 18%;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin: 1.5%;
    text-decoration: none;
}
.food-item-card-image{
    height: 74%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.food-item-card-image>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.food-item-card-details-container{
    width: 98%;
    height: 24%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.food-item-card-details{
    display: flex;
    flex-direction: column;
}
.food-item-card-details>div{
   margin: 5%;
}
.food-item-card-add-option{
    height: 50%;
    width: 10%;
    color: rgb(63, 62, 62);
    font-size: 22px;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 5%;
   margin-top: 2%;
}
.food-item-card-add-option:hover{
    background-color:  rgb(228, 224, 224);
    font-size: 24px;
    border-radius: 50%;
}
.food-item-card-title{
    height: 5%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
    padding-left: 2%;
}
.food-item-card-category{
    height: 5%;
    width: 100%;
    font-size: 14px;
    color: rgb(65, 62, 62);
    padding: 1%;
    padding-left: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.food-item-card-estimated-time-dc{
    height: 5%;
    width: 100%;
    font-size: 12px;
    color: rgb(65, 62, 62);
    padding: 1%;
    padding-left: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1150px) {
    .food-item-card {
        width: 24%;
    }
}
@media screen and (max-width: 1050px) {
    .food-item-card {
        width: 28%;
    }
}
@media screen and (max-width: 880px) {
    .food-item-card {
        width: 32%;
    }
}
@media screen and (max-width: 650px) {
    .food-item-card {
        width: 36%;
    }
}
@media screen and (max-width: 500px) {
    .food-item-card {
        width: 40%;
    }
}
@media screen and (max-width: 400px) {
    .food-item-card {
        width: 45%;
    }
}
@media screen and (max-width< 400px) {
    .food-item-card {
        width: 50%;
    }
}